.main_container {
    align-items: top;
    background: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.main_cod {
    background: blue;
    padding: 10px;
    width: 100%;
}

.cod_logo {
    display: flex;
}

.logo_text {
    text-align: center;
    margin: 10px auto;
}

.textarea_title {
    margin: 20px;
    color: #0a3871;
    font-weight: 400;
    font-size: 32px;
}

.main_textarea {
    width: 100%;
}

.main_textarea textarea {
    margin: 0 auto;
    resize: none;
}

.main_info {
    display: flex;
    padding: 5px;
}

.info_text {
    margin-left: 5px;
    color: #495057;
    font-weight: 400;
    font-size: 12px;
    opacity: 0.8;
}

.main_buttons {
    display: flex;
    margin: 10px auto;
}

.button_criptografar {
    background-color: #0A3871;
    border: 1px solid #000;
    border-radius: 32px;
    color: #FFF;
    font-weight: 400;
    font-size: 16px;
    height: 67px;
    line-height: 19px;
    margin-top: 24px;
    margin-right: 24px;
    text-align: center;
    width: 328px;
}

.button_criptografar:hover {
    background-color: #011833;
    cursor: pointer;
}

.button_descriptografar {
    background-color: #FFFFFF;
    border: 1px solid #000;
    border-radius: 32px;
    color: #0A3871;
    font-weight: 400;
    font-size: 16px;
    height: 67px;
    line-height: 19px;
    margin-top: 24px;
    margin-right: 24px;
    text-align: center;
    width: 328px;
}

.button_descriptografar:hover {
    background-color: #8F8F8F;
    cursor: pointer;
}

.main_decod {
    background: red;
    padding: 10px;
    width: 100%;
}

/* ============================= BreakPoints ==================================== */

/* Extra Small */
@media only screen and (min-width: 576px) {}

/* Small */
@media only screen and (min-width: 576px) {}

/* Medium */
@media only screen and (min-width: 768px) {
    .main_container {
        flex-direction: row;
    }

    .main_cod {
        background: green;
    }

    .main_decod {
        background: yellowgreen;
    }
}

/* Large */
@media only screen and (min-width: 992px) {}

/* Extra Large */
@media only screen and (min-width: 1200px) {}

/* Extra Extra Large */
@media only screen and (min-width: 1400px) {}